# GLOBAL TERRORISM DATABASE

## DATA

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
# converting data from .xlsx to .csv

GTD_data = pd.read_excel("globalterrorismdb_0919dist.xlsx", dtype=str, index_col=None)
GTD_data.to_csv('globalterrorismdb.csv', encoding='utf-8', index=False)

In [2]:
gtd_database = pd.read_csv("globalterrorismdb.csv")
gtd_database

C:\Users\nmudk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191459,201812310030,2018,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Afghan War Casualty Report: Dec. 28-Jan. 3,"" ...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
191460,201812310031,2018,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Afghan War Casualty Report: Dec. 28-Jan. 3,"" ...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
191461,201812310032,2018,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Afghan War Casualty Report: Dec. 28-Jan. 3,"" ...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
191462,201812310033,2018,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Afghan War Casualty Report: Dec. 28-Jan. 3,"" ...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
191463,201812310034,2018,12,31,NaN,0,NaN,603,United Kingdom,8,...,There is doubt that this incident meets terror...,"""'No definitive motive' for house attacks,"" BB...","""Arson attack on west Belfast house latest in ...","""Police Chief Appeals For Information Over...,...",START Primary Collection,0,0,1,1,"201812310034, 201901010044"

In [4]:
type(gtd_database)

pandas.core.frame.DataFrame

In [3]:
gtd_database.dtypes

eventid        int64
iyear          int64
imonth         int64
iday           int64
approxdate    object
               ...
INT_LOG        int64
INT_IDEO       int64
INT_MISC       int64
INT_ANY        int64
related       object
Length: 135, dtype: object

In [5]:
gtd_database.describe()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.914640e+05,191464.000000,191464.000000,191464.000000,191464.000000,191464.000000,191464.000000,186884.000000,186883.000000,191463.000000,...,1.416000e+03,6.230000e+02,8.380000e+02,611.000000,12045.000000,11454.000000,191464.000000,191464.000000,191464.000000,191464.000000
mean,2.003486e+11,2003.420136,6.462510,15.507688,0.047476,131.290446,7.205167,23.462121,28.902126,1.458172,...,3.057619e+06,5.227734e+05,6.961705e+05,217.004910,4.643005,-29.816309,-4.521727,-4.439247,0.088951,-3.930582
std,1.334949e+09,13.349405,3.388515,8.807727,0.212656,112.058063,2.923811,18.405309,57.231040,0.991536,...,2.951278e+07,6.730057e+06,9.792528e+06,2796.042504,2.034429,65.183303,4.543713,4.639931,0.556741,4.689726
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-176.176447,1.000000,...,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-99.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.991083e+11,1991.000000,4.000000,8.000000,0.000000,78.000000,6.000000,11.274796,7.052742,1.000000,...,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.010031e+11,2010.000000,6.000000,15.000000,0.000000,98.000000,7.000000,31.445840,43.471427,1.000000,...,1.500000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,-9.000000,-9.000000,0.000000,0.000000
75%,2.015013e+11,2015.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.621521,68.783077,1.000000,...,4.000000e+05,0.000000e+00,1.273412e+03,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.018123e+11,2018.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,179.366667,5.000000,...,1.000000e+09,1.320000e+08,2.750000e+08,48000.000000,7.000000,2912.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
gtd_database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191464 entries, 0 to 191463
Columns: 135 entries, eventid to related
dtypes: float64(53), int64(24), object(58)
memory usage: 197.2+ MB

In [7]:
gtd_database.index

RangeIndex(start=0, stop=191464, step=1)

In [8]:
len(gtd_database)

191464